{% load staticfiles %}

<html>
    <head>
        <title>This is my blog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Custom Style -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- Google Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
		<div class="page-header">
        <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon-plus"></span></a>
			<h1><a href="/">This is my Blog</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>